html {
    background: #990055;
    background-blend-mode: hard-light;
}

body {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    image-orientation: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1 {
    text-decoration: none; 
    text-decoration-line: underline;
               padding-right: 40px; };
    color: #fff;
    font-weight: 600;
    line-height: 1.3;
    line-width: 2.0;
}
h2, h3, h4, h5, h6 {
     color: #fff;
    font-weight: 600;
    line-height: 1.3;
}
a {
    color: #ffcccc;
    background-color: 
}

a:link {
    color: #ffcccc;
}

a:visited {
    color: #995599;
}

a:hover {
    background: #990055;
    color: #ff9999;
    text-decoration: none
}

a href {
    align-content: center;
}

ul {
    text-align: left;
    text-decoration: none;
}

nav ul { list-style-type: none;}
nav a { text-decoration: none; 
               padding-right: 40px; }
nav li {  display: inline; }
}

img {
    -webkit-animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
            animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
    align-content: center;
}