html {
    background : #ffffff;
    }
body {
    background : #ffff00;
    color : #009900;
    font-family : "Times New Roman", serif;
    }
h1 {
    background : #ffffff;
    color : #990000;
    font-family : "Arial";
    font-weight : 600;
    line-height : 1.3;
    }
a {
    background : #CCCCCC;
    }